RewriteEngine on

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.five-multiplayer\.net$ [NC]
RewriteCond %{HTTP_HOST} !^\.five-multiplayer\.net$ [NC]
RewriteRule ^(.*)$ https://www.five-multiplayer.net/$1 [L,R=301]

RewriteRule ^home/?$ index.php [NC,L]
RewriteRule ^index/?$ index.php [NC,L]
RewriteRule ^privacy/?$ privacypolicy.php [NC,L]
RewriteRule ^tos/?$ termsofservice.php [NC,L]

RewriteRule ^download/?$ download.php [NC,L]
RewriteRule ^servers/?$ servers.php [NC,L]
RewriteRule ^team/?$ team.php [NC,L]

RewriteRule ^dashboard/?$ dashboard.php [NC,L]

RewriteRule ^user/(.*)$ /user.php?name=$1 [L]